{% load wagtailcore_tags %}

<div class="container my-4">
    <div class="row">
        <div class="col-md-3{% if value.show_left_border %} border-end{% endif %}" {% include "blocks/includes/border_style.html" with show_border=value.show_left_border border_width=value.border_width border_color=value.border_color border_style=value.border_style %}>
            {% for block in value.left_column %}
                {% include_block block %}
            {% endfor %}
        </div>
        <div class="col-md-3{% if value.show_middle_border %} border-end{% endif %}" {% include "blocks/includes/border_style.html" with show_border=value.show_middle_border border_width=value.border_width border_color=value.border_color border_style=value.border_style %}>
            {% for block in value.middle_left_column %}
                {% include_block block %}
            {% endfor %}
        </div>
        <div class="col-md-3{% if value.show_right_border %} border-end{% endif %}" {% include "blocks/includes/border_style.html" with show_border=value.show_right_border border_width=value.border_width border_color=value.border_color border_style=value.border_style %}>
            {% for block in value.middle_right_column %}
                {% include_block block %}
            {% endfor %}
        </div>
        <div class="col-md-3">
            {% for block in value.right_column %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>
</div>