{% load wagtailimages_tags %}
{% image value.image original as background_image %}
<section class="hero spad set-bg" data-setbg="{{ background_image.url }}">
    {% if value.top_line or value.middle_line or value.bottom_line or value.youtube_url %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hero__text py-5">
                        {% if value.top_line %}<span>{{ value.top_line }}</span>{% endif %}
                        {% if value.middle_line %}<h1>{{ value.middle_line }}</h1>{% endif %}
                        {% if value.bottom_line %}<p>{{ value.bottom_line }}</p>{% endif %}
                        {% if value.youtube_url %}
                            <a href="#" class="play-btn video-popup-trigger" data-video-url="{{ youtube_embed_url }}"><i class="fa fa-play"></i></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="linear__icon">
        <i class="fa fa-angle-double-down"></i>
    </div>
</section>

<!-- Video Modal -->
<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header border-0">
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe id="videoIframe" class="embed-responsive-item" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>