{% load wagtailimages_tags %}
<div class="about-pic">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 p-0">
                        {% image value.images.0 original as image_0 %}
                        <img src="{{ image_0.url }}" alt="">
                        {% image value.images.1 original as image_1 %}
                        <img src="{{ image_1.url }}" alt="">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 p-0">
                        {% image value.images.2 original as image_2 %}
                        <img src="{{ image_2.url }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 p-0">
                        {% image value.images.3 original as image_3 %}
                        <img src="{{ image_3.url }}" alt="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 p-0">
                        {% image value.images.4 original as image_4 %}
                        <img src="{{ image_4.url }}" alt="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 p-0">
                        {% image value.images.5 original as image_5 %}
                        <img src="{{ image_5.url }}" alt="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 p-0">
                        {% image value.images.6 original as image_6 %}
                        <img src="{{ image_6.url }}" alt="">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 p-0">
                        {% image value.images.7 original as image_7 %}
                        <img src="{{ image_7.url }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>