<div class="container">
    <div class="row">
        <div class="{% if value.button_width == 'half' %}col-6{% elif value.button_width == 'full' %}col{% endif %} text-center{% if value.button_alignment == 'center' %} mx-auto{% elif value.button_alignment == 'right' %} ml-auto{% endif %}">
            {% if settings.blowcomotion.SiteSettings.patreon_url %}
                <a class="site-btn" href="{{ settings.blowcomotion.SiteSettings.patreon_url }}">{{ value.button_text|default:"Donate with Patreon" }}</a>
            {% else %}
                <p>No Patreon URL configured. Add one in the admin settings.</p>
            {% endif %}
        </div>
    </div>
</div>