{% load wagtailcore_tags wagtailimages_tags %}

<div class="d-flex timeline-2 {% if forloop.counter|divisibleby:2 %}right-2{% else %}left-2 justify-content-end{% endif %}">
  {% if has_longtext or line_count > 2 %}
  <div class="card">
    {% if item.image %}
      <div class="cursor-pointer" data-toggle="collapse" data-target="#collapse-{{ value.id }}-{{ forloop.counter }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse-{{ value.id }}-{{ forloop.counter }}" style="cursor: pointer;">
        {% image item.image width-500 class="card-img-top img-fluid" %}
      </div>
    {% endif %}
    <div class="card-header p-0 border-0">
      <button class="btn btn-link w-100 text-left text-decoration-none text-dark p-4" type="button" data-toggle="collapse" data-target="#collapse-{{ value.id }}-{{ forloop.counter }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="collapse-{{ value.id }}-{{ forloop.counter }}" >
        <h4 class="font-weight-bold mb-2">{{ item.title }}{% if item.has_longtext %} (has long text){% endif %}</h4>
        {% if item.date %}
        <small class="text-muted text-sm mb-0"><i class="far fa-clock" aria-hidden="true"></i> {{ item.date }}</small>
        {% endif %}
      </button>
    </div>
    <div class="card-body p-4 pt-0">
      <div id="collapse-{{ value.id }}-{{ forloop.counter }}" class="timeline-content {% if not forloop.first %}collapsed{% endif %}" data-collapsed="{% if forloop.first %}false{% else %}true{% endif %}">
        <div class="mb-0">{{ item.description|richtext }}</div>
      </div>
      <div class="timeline-gradient {% if forloop.first %}d-none{% endif %}" id="gradient-{{ value.id }}-{{ forloop.counter }}"></div>
      <div class="timeline-expand-hint {% if forloop.first %}d-none{% endif %}" data-target="#collapse-{{ value.id }}-{{ forloop.counter }}">Click to expand</div>
    </div>
  </div>
  {% else %}
    <div class="card">
      {% if item.image %}
        <div>
          {% image item.image width-500 class="card-img-top img-fluid" %}
        </div>
      {% endif %}
      <div class="card-header p-4 border-0">
        <h4 class="font-weight-bold mb-2">{{ item.title }}</h4>
        {% if item.date %}
          <small class="text-muted text-sm mb-0"><i class="far fa-clock" aria-hidden="true"></i> {{ item.date }}</small>
        {% endif %}
      </div>
      <div class="card-body p-4 pt-0">
        <div class="mb-0">{{ item.description|richtext }}</div>
      </div>
    </div>
  {% endif %}
</div>