{% load wagtailcore_tags %}

<section style="background-color: {{ value.background_color|default:'#F0F2F5' }};">
  <div class="container-fluid py-5">
    <div class="main-timeline-2">
      {% for item in value.timeline_items %}
        {% include_block item %}
      {% endfor %}
    </div>
  </div>
</section>
<script>
  $(document).ready(function() {
    $('[data-toggle="collapse"]').on('click', function(e) {
      e.preventDefault();
      var target = $(this).data('target');
      var content = $(target);
      var gradientId = target.replace('collapse-', 'gradient-');
      var gradient = $(gradientId);
      var hint = gradient.siblings('.timeline-expand-hint');
      
      if (content.hasClass('collapsed')) {
        content.removeClass('collapsed');
        gradient.addClass('d-none');
        hint.addClass('d-none');
        $(this).attr('aria-expanded', 'true');
      } else {
        content.addClass('collapsed');
        gradient.removeClass('d-none');
        hint.removeClass('d-none');
        $(this).attr('aria-expanded', 'false');
      }
    });
    
    // Make collapsed content clickable to expand
    $('.timeline-content.collapsed').on('click', function(e) {
      var contentId = $(this).attr('id');
      var button = $('[data-target="#' + contentId + '"]').first();
      button.trigger('click');
    });
    
    // Make hint text clickable to expand
    $('.timeline-expand-hint').on('click', function(e) {
      e.preventDefault();
      var target = $(this).data('target');
      var button = $('[data-target="' + target + '"]').first();
      button.trigger('click');
    });
    
    // Update click handlers when content state changes
    $(document).on('click', '[data-toggle="collapse"]', function() {
      setTimeout(function() {
        $('.timeline-content.collapsed').off('click').on('click', function(e) {
          var contentId = $(this).attr('id');
          var button = $('[data-target="#' + contentId + '"]').first();
          button.trigger('click');
        });
      }, 350);
    });
  });
</script>