{% load wagtailcore_tags %}

<div class="container my-4">
    <div class="row">
        <div class="col-lg-{{ left_column_width }}{% if value.show_vertical_border %} border-end{% endif %}" {% include "blocks/includes/border_style.html" with show_border=value.show_vertical_border border_width=value.border_width border_color=value.border_color border_style=value.border_style %}>
            {% for block in value.left_column %}
                {% include_block block %}
            {% endfor %}
        </div>
        <div class="col-lg-{{ right_column_width }}">
            {% for block in value.right_column %}
                {% include_block block %}
            {% endfor %}
        </div>
    </div>
</div>