<div class="container">
    <div class="row">
        <div class="col-10 text-center{% if value.alignment == 'center' %} mx-auto{% elif value.alignment == 'right' %} ml-auto{% endif %}">
            {% if settings.blowcomotion.SiteSettings.venmo_donate_url %}
                <a class="site-btn" href="{{ settings.blowcomotion.SiteSettings.venmo_donate_url }}">{{ value.button_text|default:"Donate with Venmo" }}</a>
            {% else %}
                <p>No Venmo URL configured. Add one in the admin settings.</p>
            {% endif %}
        </div>
    </div>
</div>