{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    {% if page.get_verbose_name == 'Wiki Page' %}
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3">
                    <h1>{{ page.title }}</h1>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Published on: {{ page.first_published_at|date:"F j, Y" }}</p>
                </div>
            </div>
        </div>

        {% if page.last_published_at %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>Last updated on: {{ page.last_published_at|date:"F j, Y" }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if page.authors.all %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>Page written by: {{ page.authors.all|join:", " }}</p>         
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}

    {% if page.get_verbose_name == 'Wiki Index Page' %}
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3">
                    <h2>Wiki Index:</h2>
                    <ul>
                        {% for child_page in page.get_children %}
                            <li><a href="{{ child_page.url }}">{{ child_page.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}

    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
{% endblock content %}