{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 py-5">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
    </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Published on: {{ page.first_published_at|date:"F j, Y" }}</p>
                </div>
            </div>
        </div>

        {% if page.last_published_at %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>Last updated on: {{ page.last_published_at|date:"F j, Y" }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if page.authors.all %}
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>Page written by: {{ page.authors.all|join:", " }}</p>         
                    </div>
                </div>
            </div>
        {% endif %}

    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
{% endblock content %}