{% extends "base.html" %}

{% block title %}Attendance System{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center mb-4">Attendance System</h1>
        </div>
    </div>

    <!-- Main Content Container -->
    <div id="attendance-container">
        {% block attendance_content %}{% endblock %}
    </div>
</div>

{% block extra_css %}
    {% include 'attendance/partials/attendance_card_styles.html' %}
{% endblock %}
{% endblock %}
