<div class="about-pic">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 p-0">
                        <img src="https://placehold.co/310" alt="">
                        <img src="https://placehold.co/310" alt="">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 p-0">
                        <img src="https://placehold.co/630" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 p-0">
                        <img src="https://placehold.co/630x320" alt="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 p-0">
                        <img src="https://placehold.co/310" alt="">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 p-0">
                        <img src="https://placehold.co/310" alt="">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 p-0">
                        <img src="https://placehold.co/630x320" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>