.footer__copyright__text {
    opacity: 0.07;
}

.footer {
    margin-top: unset;
}

.font-caprasimo {
    font-family: "Caprasimo", serif !important;
}

.font-schoolbell {
    font-family: "Schoolbell", cursive !important;
}

.font-rajdhani {
    font-family: "Rajdhani", sans-serif !important;
}

.font-rockville {
    font-family: 'Rockville Solid Regular' !important;
}

.blowco-purple {
    color: $blowco-purple !important;
}

.hero {
    min-height: 1000px;
}

@media screen and (max-width: 768px) {
    .hero {
        min-height: 600px;
    }
    
}

.upcoming-public-gigs {
    ul {
        --icon-size: .8em;
        --gutter: .5em;
        padding: 0 0 0 var(--icon-size);
    }

    ul li {
        padding-left: var(--gutter);
    }

    ul li::marker {
        content: "\f001";
        /* FontAwesome Unicode */
        font-family: FontAwesome;
        font-size: 2em;
        color: $blowco-purple;
    }

    h2, h3 {
        font-family: "Rammetto One", sans-serif;
        color: $blowco-purple;
    }

    p {
        font-family: "Delius", cursive;
        font-size: 1.5em;
        color: $blowco-purple;
    }
}

.countdown-wrapper {
    background-color: $blowco-translucent;
}
