{% load static wagtailuserbar %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    {% include "head.html" %}

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>
        
        {% include "header.html" with request=request %}

        <main>
            {% block content %}
            {% endblock %}
        </main>

        {% include "footer.html" %}

        {% include "js.html" %}
        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}

        {% block feedback_form_modal %}
            {% include "forms/feedback_form_modal.html" %}
        {% endblock feedback_form_modal %}

        {% block feedback_form_modal_button %}
            <div class="feedback-form-modal-button">
                <button type="button" class="site-btn" data-toggle="modal" data-target="#feedbackFormModal">
                    Feedback
                </button>
            </div>
        {% endblock feedback_form_modal_button %}
    </body>
</html>
