{% load static wagtailuserbar wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <title>
        {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    {% include "head.html" %}

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        {% if settings.blowcomotion.NotificationBanner.message %}
            {% include "notification_banner.html" with message=settings.blowcomotion.NotificationBanner.message expiration_date=settings.blowcomotion.NotificationBanner.expiration_date %}
        {% endif %}

        {% include "header.html" with request=request %}

        <main>
            {% block content %}
            {% endblock %}
        </main>

        {% include "footer.html" %}

        {% include "js.html" %}
        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}

        {% block feedback_form_modal %}
            {% include "forms/feedback_form_modal.html" %}
        {% endblock feedback_form_modal %}

        {% block feedback_form_modal_button %}
            <div class="feedback-form-modal-button">
                <button type="button" class="site-btn" data-toggle="modal" data-target="#feedbackFormModal">
                    Feedback
                </button>
            </div>
        {% endblock feedback_form_modal_button %}
    </body>
</html>
