{% load static wagtailuserbar wagtailcore_tags %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <title>
        {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    {% include "head.html" %}

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        {% if settings.blowcomotion.NotificationBanner.message %}
            {% include "notification_banner.html" with message=settings.blowcomotion.NotificationBanner.message expiration_date=settings.blowcomotion.NotificationBanner.expiration_date %}
        {% endif %}

        {% include "header.html" with request=request %}

        <main>
            {% block content %}
            {% endblock %}
        </main>

        {% include "footer.html" %}

        {% include "js.html" %}
        {% block extra_js %}
        {# Override this in templates to add extra javascript #}
        {% endblock %}

        {% block feedback_form_modal %}
            {% include "forms/feedback_form_modal.html" %}
        {% endblock feedback_form_modal %}

        {% block feedback_form_modal_button %}
            <div class="feedback-form-modal-button">
                <button type="button" class="site-btn" data-toggle="modal" data-target="#feedbackFormModal">
                    Feedback
                </button>
            </div>
        {% endblock feedback_form_modal_button %}

        {# Shared Video Modal - used by HeroBlock and VideoFeedBlock #}
        {# Supports both embedded videos (iframe) and uploaded videos (HTML5 video) #}
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-label="Video player" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header border-0">
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body p-0">
                        {# Iframe for embedded videos (YouTube, Vimeo) #}
                        <div class="embed-responsive embed-responsive-16by9" id="videoIframeContainer" style="display: none;">
                            <iframe id="videoIframe" class="embed-responsive-item" src="" title="Video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        {# HTML5 video player for uploaded videos #}
                        <div class="embed-responsive embed-responsive-16by9" id="videoPlayerContainer" style="display: none;">
                            <video id="videoPlayer" class="embed-responsive-item" controls>
                                <source id="videoSource" src="" type="">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if has_image_carousel %}
        {# Shared Image Modal - used by ImageCarouselBlock #}
        {# Lightbox modal for viewing full-size images with carousel navigation #}
        <div class="modal fade image-modal" id="imageModal" tabindex="-1" role="dialog" aria-label="Image viewer" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                <div class="modal-content bg-dark">
                    <div class="modal-header border-0">
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {# Previous/Next Navigation Buttons #}
                        <button type="button" class="image-modal__nav image-modal__nav--prev" id="imageModalPrev" aria-label="Previous image" style="display: none;">
                            <i class="fa fa-angle-left"></i>
                        </button>
                        <button type="button" class="image-modal__nav image-modal__nav--next" id="imageModalNext" aria-label="Next image" style="display: none;">
                            <i class="fa fa-angle-right"></i>
                        </button>
                        
                        <div class="image-modal__img-container">
                            <img id="imageModalImg" src="" alt="">
                        </div>
                        <div id="imageModalCounter" class="image-modal__counter" style="display: none;"></div>
                        <div id="imageModalCaption" class="image-modal__caption" style="display: none;"></div>
                        <div id="imageModalLink" class="image-modal__link text-center" style="display: none;">
                            <a id="imageModalLinkBtn" href="#" target="_self" class="site-btn">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </body>
</html>
