{% load wagtailimages_tags wagtailcore_tags %}
<header class="header{% if not hero_header %} header--normal{% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2">
                <div class="header__logo">
                    {% with logo=settings.blowcomotion.SiteSettings.logo %}
                        <a href='/'>{% image logo original class="img-fluid" %}</a>
                    {% endwith %}
                </div>
            </div>
            <div class="col-lg-10 col-md-10 d-flex align-items-center justify-content-center">
                <div class="header__nav">
                    <nav class="header__menu mobile-menu">
                        <ul>
                            {% for menu in settings.blowcomotion.SiteSettings.header_menus %}
                                {% pageurl menu.value.page as menu_page_url %}
                                <li{% if request.path == menu_page_url %} class="active"{% endif %}><a href="{{ menu_page_url }}">{% if menu.label %}{{ menu.label }}{% else %}{{ menu.value.page.title }}{% endif %}</a>
                                {% if menu.value.children %}
                                    <ul class="dropdown">
                                        {% for child in menu.value.children %}
                                            {% pageurl child.page as child_page_url %}
                                            <li><a href="{{ child_page_url }}">{% if child.label %}{{ child.label }}{% else %}{{ child.page.title }}{% endif %}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                    <div class="header__right__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>